body {
    display: flex;
    height:100%;
    background-image: url('src/Backgrounds/texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

  
@font-face {
    font-family: OldFont;
    src: url('src/typography/carolingia.ttf');
}
  
/* ---------------Navbar CSS-----------------*/
.topnav{
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-direction: row;
    top: -200px;
    transition: top 0.2s;
    background-color: #91461e;
    
  }
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

/*------------------- Landing Section CSS -------------------------*/

.container-landing{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('src/Backgrounds/landing-b.jpg');
}

.container-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.tooltip .tooltiptext {
    
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    
  }
  .tooltip{
    border-radius: 10px;
    padding: 100px;
    background-image: url('src/Backgrounds/btn-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: transparent;

    font-family: OldFont;
    font-size: 40px;
  }
  .tooltiptext{
    font-size: 20px;
  }
  .tooltip:hover{
    margin: transparent;
    background-image: url('src/Backgrounds/btn-back-change.png');
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
    background-color: #91461e;
  }

 #countdown{
    font-family: OldFont;
    font-size: 25px;
  }

.text-calendar {
    font-family: OldFont;
    color: black;
}

.text-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-calendar p{
    margin: 0px;
}
.calendar-date{
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 10px;
}
.calendar-hour{
    font-size: 70px;
}

/*------------------- Event CSS -------------------------*/
.timelime{
    background-image: url('src/Backgrounds/event-b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.event_title{
    margin-bottom: -80px;
    text-align: center;
}

.timelime{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    border: 6px solid white;
    border-radius: 30px ;
    padding: 100px;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}


.text-box{
    padding: 20px 30px;
    background: #ffff;
    position: relative;
    border-radius: 6px;
    text-align: center;
}

.left-container{
    left: -95px;
}

.right-container{
    left: 50%;
}

.left-container:hover, .right-container:hover{
    color: #3498db;
}



.container span{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container span{
    left: -20px;
}

.timelime::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #ffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
    
}

.text-box h1{
    font-weight: 600;
}

.text-box h2{
    display: inline-block;
    margin-block: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffff;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ffff;
    left: -15px;
}


/*------------------- Contact Us CSS -------------------------*/

.contact-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}
.contact-container h1{
    font-size: 60px;
}
.contact h1{
    padding: 20px;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

.contact{
    padding: 20px;
    border-color: #91461e;
    color: #fff;
    box-shadow: 0 0 40px 40px #91461e inset, 0 0 0 0 #91461e;
    transition: all 150ms ease-in-out;  
}

.contact:hover {
    box-shadow: 0 0 10px 0 #91461e inset, 0 0 10px 4px #91461e;
}


/*------------------- MEET THE TEAM CSS -------------------------*/
.meet-team{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 80px;
}
.column:hover{
    box-shadow: 0 0 10px 0 #91461e inset, 0 0 10px 4px #91461e;
}
/* Control hidden text*/
.column:hover .container-pop{
    display: flex;
    flex-direction: column;
    text-align: center;
    visibility: visible;
}
.container-pop ul{
    list-style: none;
}

.container2 {
    padding: 0 16px;
    background-color: #91461e;
}

.titleName {
    color: rgb(255, 255, 255);
    font-size: larger;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding:  8px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Responsive section*/

@media screen and (max-width: 900px) {
    .container-landing{
        align-items: flex-end;
        background-position: left;
    }
    .tooltip{
        width: 100px;
        height: 100px;
        padding: 0px;
        text-align: centers;
        font-size: 30px;
    }
  }