body {
    display: flex;
    height:100%;
    background:  linear-gradient(#01adc1, #000000);
    flex-direction: column;
    justify-content: space-between;
}



.container-landing{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('src/A.png');
}


.container-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('src/calendar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 150px;
    margin-bottom: 5vh;
}

.tooltip .tooltiptext {
    
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    
  }
  .tooltip{
    border: transparent;
    border-radius: 10px;
    padding: 5px;
    background-color: #ff3535;

  }
  .tooltip:hover{
    margin: transparent;
    background-color: #ffffff;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
    background-color: #01adc1;
  }

@media screen and (max-width: 900px) {
    .container-landing{
        align-items: flex-start;
    }
  }
  

.text-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-calendar p{
    margin: 0px;
}
.calendar-date{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
}
.calendar-hour{
    font-size: xx-large;
}

iframe{
    width: 300px;
    height: auto;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.contact h1{
    padding: 20px;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

.contact{
    padding: 20px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;  
}

.contact:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
}